@use "./../../../../public/styles/colores.scss";

h1{
    font-size: 50px;
    font-weight: bold;
    color: colores.$color-principal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-right: 750px;
    padding: 20px;
}

.active{
    color: colores.$color-principal;
}

nav{
    display: flex;
    align-content: space-between;
    justify-content: flex-end;
    background-color: rgb(58, 58, 58);
    align-items: center;
    margin-right: 0px;

}

nav a{
    margin: 18px;
    font-size: 23px;
    display: flex;
    align-content: space-between;

}

header{
    background-color: rgb(58, 58, 58);
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button{
    cursor: pointer;
    display: flex;
    padding-left: 10px;
    padding-right: 0px;
    margin-right: 25px;
}