<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<app-header></app-header>




<!-- <header>
    <div>
        <p>PARKING APP</p>
    </div>
    <nav>
        <a href="">ESTADO DE COCHERAS</a>
        <button>
            <img src="" alt="">
        </button>
    </nav>
</header> --> 

<!-- <table>
    <thead>
        <td>Nro</td>
        <td>Disponibilidad</td>
        <td>Ingreso</td>
        <td>Acciones</td>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table> -->


<main>
    
    <div id="tabla">
        <div id="header-tabla">
            <div>{{ header.nro }}</div>
            <div>{{ header.disponibilidad }}</div>
            <div>{{ header.ingreso }}</div>
            <div>{{ header.acciones}}</div>
        </div>
        @for (fila of filas; track $index) {
            <button (click)="abrirModalNuevoEstacionamiento(fila.id)" [disabled]="fila.deshabilitada || fila.activo">
                <div>{{ fila.id+1 }}</div>
                <div>  
                    @if(fila.activo){
                        <p class="patente-activa" (click)="cerrarModalEstacionamiento(fila.id, fila.activo.patente)">{{fila.activo.patente}}</p>
                    } @else {
                        <p [ngClass]="{disponible: !fila.deshabilitada, ocupado: fila.deshabilitada}">{{ fila.deshabilitada ? ' No disponible' : 'Disponible'}}</p>
                    }
                </div>
                <div>{{ fila.activo ?.horaIngreso }}</div>
                <div class="acciones-container">
                    <button class="acciones" (click)="cambiarDisponibilidadCocheras(fila.id, $event)"> <i class='bx bx-transfer bx-rotate-180' ></i></button>
                    <button class="acciones" (click)="showModal(fila.id, $event)"> <i class='bx bx-trash' ></i> </button> 
                                   
                </div>
            </button>
        }

    </div>
    <div>
        <button (click)="agregarFila()" class="boton-resaltado">Agregar cochera</button>
        
    </div>
</main>
