$color-principal: rgb(227, 111, 21);
$color-correcto: rgb(114, 222, 114);
$color-ocupado: grey;
// $color-error: ;
$color-texto: rgb(114, 222, 114);
$color-texto-principal: rgb(22, 22, 22);
$color-texto-invertido: white;
// $color-fondo: